.env
.env.development.local
.env.development.deploy
.env.development.local
.env.production.deploy

wallets/**/*

dist/**/*

# Node.js dependency directory
node_modules/

.env
src/creds/**/*

# logs
firebase-debug.log

wallets/**

.DS_Store

sync/backfilled-orders-to-pg-prod.txt
sync/backfilled-orders-to-pg-dev.txt
