.env
.env.development.local
.env.development.deploy
.env.production.deploy
.env.production.local
.env.nftc-dev
.env.nftc-infinity

wallets/**/*

dist/**/*

# Node.js dependency directory
node_modules/

.env
src/creds/**/*

# logs
firebase-debug.log

wallets/**

.DS_Store

sync/*