{
  "tabWidth": 2,
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "none",
  "semi": true,
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@[^\/]+", "^@\/", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
